
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" integrity="sha256-13EKEXRsynh3cmmNF1dlW6uvoC1SZVaW94bIHZQJoMU=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
      <div class="col-sm-6">
        <h1>Galleries</h1>
      </div>

<% if user_signed_in? && current_user.admin == true %>
      <div class="col-sm-6 text-right">
      <%= link_to admin_galleries_path, class: 'btn btn-primary' do %>
        Add New Gallery
      <% end %>
      </div>
    </div>
<% end  %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    
    <tbody>
     <% @galleries.each do |gallery| %>
    <%= content_tag :tr, id: dom_id(gallery), class: dom_class(gallery) do %> 
            <section class="">
                <div id="sync1" class="">
                    <div class="w-64 h-64">
                        <%= image_tag gallery.photo_url , class: "" %>
                    </div>
                </div>
              </section>  
          <% end %>
  <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
